@charset "UTF-8"; 
/*Paleta de Cores

Verde: #49a09d
Lilás: #5f2c82

*/
*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body, html {
    background-color:#5f2c82;
    height: 100vh;
    width: 100vw;
}
main {
    position: relative;
    height: 100vh;
    width: 100vw;
}
section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    margin: 5px;
    background-color: white;
    width: 250px;
    height: 515px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.438);
    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
    transform: translate(-50%, -50%);
}
section#login > div#imagem {
    display: block;
    background: #5f2c82 url(../imagens/pexels-thisisengineering-3861969.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    height: 200px;
}
section#login > div#formulario {
    display: block;
    margin: 5px;
    
}
div#formulario h1 {
    text-align: center;
    color: #49a09d;
}
div#formulario p {
    text-align: 0.8em;
}
form > div.campo {
    display: block;
    padding-bottom: 5px, 0px;
    background-color: #5f2c82;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px;

    
}
div.campo > input:focus-within{
    background-color: rgb(235, 250, 248);
}
 div.campo > label{
    display: none;
}
div.campo i {
    width: 40px;
    font-size: 2em;
    color: white;
    padding: 5px;
    
}
div.campo > input {
    background-color:#b8f0ee ;
    font-size: 1em;
    width: calc(100% - 45px);
    height: 100%;
    border-radius: 8px;
    padding: 4px;
    border: 1px solid #5f2c82;
    transform: translateY(-10px);
}

form > input[type=submit]{
    display: block;
    background-color: #49a09d;
    color: white;
    font-size: 1em;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.445);
    cursor: pointer;
}
form > input[type=submit]:hover {
    background-color: #387a78;
}
form > a.botao {
    display: block;
    background-color: white;
    color:#387a78;
    text-align: center;
    font-size: 1em;
    border: 1px solid #49a09d;
    width: 100%;
    height: 40px;
    margin-top: 5px;
    border-radius: 5px;
    text-decoration: none;
    padding-top: 7px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.363);
}
form > a.botao:hover{
    background-color:  #49a09d;
    color: white;
}
form a.botao > i {
    font-size: 0.8em;
}
